hooks-venv
script.tfvars
# text editor
.vscode/
*.swp
*.swo


# Ignore the build and .egg-info directories within the-hook
the-hook/build/
the-hook/print_arguments.egg-info/

build
print_arguments.egg-info